/* 
----------
Font
--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* -----------------
Global Css


---------------- */
:root{
    /* ffcd00 */
--main-color: #ffcd00;
--color-1: #e91e63;
--color-2: #7857f2;
--color-3: #09d69c;
--bg-dark: #2b2c2f;
--main-to-dark-color: var(--main-color);

--dark-to-main-color: var(--bg-dark);
--shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
--shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
--black-900: #000000;
--black-400: #555555;
--black-100: #f7f7f7;

--black-000: #fff;

--black-alpha-100: rgba(0,0,0,0.5);

}
*{
    margin: 0;
    padding: 0;
    outline: none!important;
}
body{
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 400;
overflow-x: hidden;
background-color: #fff;
line-height: 1.5;
}

body.dark{
    background-color: var(--bg-dark);
    --black-100:var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);

--dark-to-main-color: var(--main-color);
--shadow-black-100: var(--shadow-black-300);
--black-alpha-100: rgba(255,255,255,0.05);
--black-900:#fff;
--black-400:#bbb
    }


img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}.btn-1{
    background-color: #fff;
    padding: 12px 30px;
    border:none;
    border-radius: 30px;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;

}

.btn-1:focus{
    background-color:  var(--shadow-black-300);
}
.btn-1:hover{
    color: #000;
    background-color:  var(--main-color);
}
.btn-2{
    background-color: #fff;
    padding: 12px 30px;
    border:none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
    color: #000;

}

.btn-2:focus{
    background-color:  var(--shadow-black-100);
}
.btn-2:hover{
    color: #000;
    background-color:  var(--main-color);
}
@keyframes spin_01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes bounceTop_01 {
    0%,100%{
        transform: translatey(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}

@keyframes pulse_01 {
    0%,100%{
        transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
   
    }
    100%{

        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
   
    }
}

@keyframes zoom_01 {
0%{
    transform: scale(0);
}
100%{
    transform: scale(1);
    opacity: 0;
}

}
@keyframes zoomlogo_01 {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
    }
.owl-carousel .owl-dots{
padding: 0 15px;
text-align: center;
margin-top: 20px;

}

.owl-carousel button.owl-dot{
height: 6px;
width: 24px;
background-color: #dddddd;
display: inline-block;
margin: 0 4px;
border-radius: 5px;

}

.owl-carousel button.owl-dot.active{
    height: 5px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
    background-color: var(--main-color);
    }


/* --------Loader------ */

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    z-index: 2100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-to-dark-color);
}

.preloader aa{
    display: block;
    height: 60px;
    width: 60px;
    background-color: var(--dark-to-main-color);
    border-radius: 50%;
    animation: zoom_01 2s ease infinite;

}



/*
-----------------
 Navbar
---------------
*/
.section-padding{
    padding: 60px 0;
}
.section-title {
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;

}
.section-title h2 span{
color: var(--main-color);
}
.navbar{
    background-color: transparent;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: var(--main-to-dark-color);
    padding: 10px 0;
 
}
.navbar > .container{
    padding: 0 15px;
}
.navbar .navbar-brand{
    font-size: 30px;
    color:var(--main-color);
    font-weight : 500;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin-left:40px
}
.navbar .nav-item .nav-link{
    padding: 5px 0;
    font-size: 16px;
    color:#fff;
    font-weight : 400;
    text-transform: capitalize;
    position: relative;
    
}


.navbar .nav-item .nav-link::before{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s ease;
    transform : scale(0);
}
.navbar .nav-item .nav-link.active::before{
    transform : scale(1);
}

.navbar .nav-item .nav-link:hover::before{
    transform : scale(1);
}


/* ----------------------
Home section
-------------- */

.home{
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    border-radius: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.home-text h1{
 font-size: 45px;
 font-weight:700;
 color: #fff;
 margin: 0 0 20px;
}
.home-text p{
    font-size: 18px;
 line-height: 28px;
 font-weight: 300;
 color: #fff;
 margin: 0;

}
.home .home-btn{
    
margin-top: 40px;
}
.home .home-btn .down-play-btn{
   
  
    font-size: 16px;
    animation: pulse_01 2s ease infinite;
}
.home .home-btn .down-play-btn:hover{
    animation: none;
    box-shadow: var(--shadow-black-300);
}

.home .home-btn .video-play-btn{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 16px;
    animation: pulse_01 2s ease infinite;
}
.home .home-btn .video-play-btn:hover{
    animation: none;
    box-shadow: var(--shadow-black-300);
}


.home .home-btn .video-play-btn i{
   line-height: 50px;

}
.home-img img{
    max-width: 250px;
    width:100%;
    /* box-shadow: var(--shadow-black-100); */
    border-radius: 32px;
    animation:bounceTop_01 3s ease infinite;
}

.home-img .circle{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border:1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-img .circle::before{
    content:'';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    left:30px; 
    top:30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}
#logo{
    width: 95%;
    height: 95%;
    animation: zoomlogo_01 2s linear infinite;

}


/* ------------
Features section
--------- */

.features .feature-item{

    box-shadow: var(--shadow-black-100);
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
     text-align: center;
}

.features .feature-item .icon{
height: 60px;
width: 60px;
margin: 0 auto 30px;
text-align: center;
font-size: 30px;
color: var(--main-color);
position: relative;
z-index: 1;
transition: all 0.5s ease;

}

.features .feature-item .icon::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}
.features .feature-item:hover .icon {
   color: #fff;
   font-size: 20px;
}
.features .feature-item:hover .icon::before {
    left: 0;
    border-radius: 50%;
    opacity: 1;
}
.features .feature-item .icon i{
    line-height: 60px;
    font-size: 16px;
}
.features .feature-item  h3{
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}

.features .feature-item p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0;
}


/* -------------
fun facts
--------- */

.fun-facts{
    background-color: var(--black-100);
    
}
.fun-facts img{
    max-width: 250px;
    width:100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation:bounceTop_01 3s ease infinite;

}

.fun-facts .section-title{
    margin-bottom: 20px;
    
}

.fun-facts .section-title h2{
text-align: center;
}


.fun-facts-text p{
    font-size: 16px;
    line-height: 26px;
    color: var(--black-400);
    margin: 0 0 15px;
    font-weight: 300;
    text-align: center;
}
.fun-facts-item{
    padding: 32px 16px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    margin-top: 30px;

}
.fun-facts-item h3{
font-size: 40px;
font-weight: 700;
color: #ffffff;
margin: 0 0 5px;

}
.fun-facts-item span{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    line-height: 26px;
    display: block;
    
    }
    
.fun-facts-item.style-1{
   background-color: var(--color-1);
}

.fun-facts-item.style-2{
    
   background-color: var(--color-2);
}

.fun-facts-item.style-3{
    
   background-color: var(--color-3);
}

.fun-facts-item.style-4{
    
   background-color: var(--main-color);
}

/* -------------
app screenshots section
------------- */

.screenshot-item {
margin: 15px;
}

.screenshot-item img{
 width: 100%;
 display: block;
    max-width: 250px;
margin: auto;

}

/* -------------
app download section
------------- */

.app-download{
    background-image: url('../img/download-app-bg.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.app-download::before{
    content: '';
    position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
background-color: var(--main-to-dark-color);
opacity: .8;
}
.app-download-item{
    background-color: var(--black-000);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
}



.app-download-item .icon i{
    line-height: 60px;
    font-size: 16px;
}
.app-download-item i{
    font-size: 30px;
    color: var(--main-color);
    display: inline-block;
}
.app-download-item  h3{
    font-size: 22px;
    margin: 20px 0;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}

.app-download-item p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0 0 30px;

}
/* 
---------------
Footer
----------- */


.footer{
    background-color: var(--main-to-dark-color);
    padding: 50px 0 0;
}
.footer-col h3{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-col p{
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}
.footer-col ul{
    margin: 0;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    
}

.footer-col ul li a{

    font-size: 16px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration:none;
}

.footer-col ul li a:hover{
    padding-left: 5px;
    
}
.footer .copyright-text{
    
    padding: 50px 0;
    text-align: center;

    font-size: 16px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    margin:20px 0 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}
/* 
-----------toogle
theme light darl
----------------- */

.toggle-theme{
    position: fixed;
    right: 0;
    top: calc(50%- 20px);
    height: 40px;
    width: 40px;
    background-color: var(--dark-to-main-color);
    z-index: 1200;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
    font-size: 16px;
    text-align: center;
}

.toggle-theme i{
    line-height: 40px;
}


/* 
------------------
Responsive
-------------- */

@media(max-width: 991px){
    .navbar-toggler{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: #fff;

    }

    .navbar-nav{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
    }

    .navbar .nav-item{
        margin: 0;
        padding: 5px 15px;
    }
    .navbar.navbar-shrink .navbar-toggler,
    .navbar.navbar-shrink .navbar-nav{
        background-color: var(--main-color);
    }

    .home-img .circle{
        height: 320px;
        width: 320px;
    }
    .home-img .circle::before{
        left:18px;
        top:18px;
        transform-origin: 142px 142px;
    }

    .home-text h1{
        font-size: 40px;
    }
    .app-download-item{
        margin-bottom: 30px;
    }
    .footer-col{
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .home-text{
        margin-bottom: 80px;text-align: center;
    }
    .fun-facts-img img{
        margin-bottom: 30px;
    }
    .section-title h2{
        font-size: 35px;
    }
    .home .home-btn{
         
        text-align: center;
    }
    
             

    /* .fun-facts .section-title{
        text-align: center;
    } */
}


@media(max-width: 575px){
    .home-text h1{
        font-size: 30px;
        text-align: center;
    }
    .home-text p{
        font-size: 16px;
        text-align: center;
    }
    .section-title h2{
        font-size: 30px;
        text-align: center;
    }
     .home .home-btn{
         
text-align: center;
     }

}




  .sharingan {
    background: #e41414;
    width: 8em;
    height: 8em;
    position: relative;
    border: 5px #000 solid;
    animation: spin 5s ease-in-out, shine 5s ease-in-out;
  }
  
  .mangekyou {
    background: #050505;
    width: 8em;
    height: 8em;
    position: relative;
    border: 5px #000 solid;
    animation: spin 5s ease-in-out;
  }
  
  .mangekyou .point {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5.6em;
    width: 5.6em;
    background: #e41414;
     animation: shine 5s ease-in-out;
  }
  
  .mangekyou .point:nth-child(1) {
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  
  .mangekyou .point:nth-child(2) {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
     transform: translate(-50%, -50%) rotate(15deg);
  }
  
  .mangekyou .point:nth-child(3) {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
  border: 3px #000 solid;
  }
  
  .mangekyou .point:nth-child(3)::before,
  .mangekyou .point:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: inherit;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .mangekyou .point:nth-child(3)::before {
    transform: translate(-50%, -50%) rotate(-60deg);
  }
  
  .mangekyou .point:nth-child(3)::after {
    transform: translate(-50%, -50%) rotate(60deg);
  }
  
  .sharingan .inner-ring {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4em;
    height: 4em;
    border: 4px rgba(110, 13, 13, 0.5) solid;
  }
  
  .sharingan,
  .mangekyou,
  .tomoe,
  .circle-sharingan,
  .inner-ring {
    border-radius: 50%;
  }
  
  .tomoe,
  .circle-sharingan {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #000;
    z-index: 2;
  }
  
  .sharingan .tomoe:nth-child(1) {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sharingan .tomoe::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: -0.5em;
    width: 1.9em;
    height: 0.9em;
    border-left: 16px solid #000;
    border-radius: 100% 0 0 0;
  }
  
  .sharingan .tomoe:nth-child(2) {
    bottom: 0.5em;
    left: -0.3em;
    transform: rotate(-120deg);
  }
  
  .sharingan .tomoe:nth-child(3) {
    bottom: 0.5em;
    right: -0.3em;
    transform: rotate(120deg);
  }
  
  .sharingan .circle-sharingan, .mangekyou .circle-sharingan {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5em;
    height: 1.5em;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
   
    100% {
      transform: rotate(720deg);
    }
  }
  
  @keyframes shine {
    0% {
      background: #e41414;
      opacity: 0;
    }
    50% {
      background: #f03a3a;
      box-shadow: 0 0 4px 4px #f03a3a;
    }
    100% {
      box-shadow: none;
      background: #e41414;
      opacity: 1;
    }
  }
  
  





















